@model Orders
@{
    Layout = null;
}

<link href="@("http://" + Context.Request.Host.ToString() + "/StyleSheet.css")" rel="stylesheet" />
<h2>Orders</h2>

<table class="table w-100">
    <thead>
        <tr>
            <th>Date And Time</th>
            <th>Stock</th>
            <th>Order Type</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Trade Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (SellOrderResponse sellOrder in Model.SellOrders)
        {
            <tr>
                <td>@sellOrder.DateAndTimeOfOrder.ToString("dd MMMM yyyyy HH:mm:ss")</td>
                <td>@sellOrder.StockName (@sellOrder.StockSymbol)</td>
                <td>SellOrder</td>
                <td>@sellOrder.Quantity</td>
                <td>$@sellOrder.Price</td>
                <td>@sellOrder.TradeAmount.ToString("N")</td>
            </tr>
        }
        @foreach (BuyOrderResponse buyOrder in Model.BuyOrders)
        {
            <tr>
                <td>@buyOrder.DateAndTimeOfOrder</td>
                <td>@buyOrder.StockName (@buyOrder.StockSymbol)</td>
                <td>BuyOrder</td>
                <td>@buyOrder.Quantity</td>
                <td>$@buyOrder.Price</td>
                <td>@buyOrder.TradeAmount.ToString("N")</td>
            </tr>
        }
    </tbody>
</table>


